<head>
    <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<div class="container-fluid">
    <h1 class="display-4">Update Reservation</h1>
    <form id="contact" action="/updateReservation" method="post">

        <div class="form-group">
            <fieldset>
                <input class="form-control" name="cust_fname" type="text" id="cust_fname" placeholder="First Name*"
                    value="{{reservation.cust_fname}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <input class="form-control" name="cust_lname" type="text" id="cust_lname" placeholder="Last Name*"
                    value="{{reservation.cust_lname}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <input class="form-control" name="cust_email" type="text" id="cust_email" pattern="[^ @]*@[^ @]*"
                    placeholder="Your Email Address" value="{{reservation.cust_email}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <input class="form-control" name="cust_phone" type="text" id="cust_phone" placeholder="Phone Number*"
                    value="{{reservation.cust_phone}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <input class="form-control" name="number_guest" type="text" id="number_guest"
                    placeholder="No Of Guests*" value="{{reservation.number_guest}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <div id="filterDate2">
                <div class="form-group" data-date-format="dd/mm/yyyy">
                    <input class="form-control" name="cust_date" id="cust_date" type="text"
                        value="{{reservation.cust_date}}" class="form-control" placeholder="dd/mm/yyyy">
                    <div class="form-group">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <fieldset>
                <select class="form-control" value="time" name="cust_time" id="cust_time"
                    value="{{reservation.cust_time}}">
                    <option value="time">Time</option>
                    <option name="Breakfast" id="Breakfast">Breakfast</option>
                    <option name="Lunch" id="Lunch">Lunch</option>
                    <option name="Dinner" id="Dinner">Dinner</option>
                </select>
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <textarea class="form-control" name="cust_message" rows="6" id="cust_message" placeholder="Message"
                    value="" required="">{{reservation.cust_message}}</textarea>
            </fieldset>
        </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Edit</button>
        </div>
    </form>