<head>
  <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<div class="container-fluid">
  <h1 class="display-4">View Reservation</h1>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone no.</th>
          <th>Date</th>
          <th>Time</th>
          <th>Remarks</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if reservation}}
        {{#each reservation}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.cust_fname}}</td>
          <td>{{this.cust_lname}}</td>
          <td>{{this.cust_email}}</td>
          <td>{{this.cust_phone}}</td>
          <td>{{this.cust_date}}</td>
          <td>{{this.cust_time}}</td>
          <td>{{this.cust_message}}</td>
          <td><a href="/reservation/updateReservation/{{this.id}}" class="btn btn-warning">Update</a>
          </td>
          <td>
            <form action="/reservation/deleteReservation/{{reservation.id}}" method="POST"></form>

            <!-- Modal -->
            <div class="modal fade" id="myModal_{{this.id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Do you really want to delete this Reservation? This process cannot be undone.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/reservation/viewReservation/{{id}}" class="btn btn-danger">Delete</a>
                  </div>
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#myModal_{{id}}">

              <span>Delete</span>
            </button>
            </form>

          </td>
        </tr>
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>