<head>
    <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<div class="container-fluid">
  <h1 class="display-4">View Reservation</h1>
  <div>
    {% if count == 0 %}
    <p>There are no reservation.</p>
    {% elif count == 1 %}
    <p>There is 1 reservation.</p>
    {% else %}
    <p>There are {{ count }} reservations.</p>
    {% endif %}
  </div>

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone no.</th>
          <th>Date</th>
          <th>Time</th>
          <th>Remarks</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for reservation in reservations_list %}
        <tr>
          <td>{{ reservation.get_reservation_id() }}</td>
          <td>{{ reservation.get_first_name() }}</td>
          <td>{{ reservation.get_last_name() }}</td>
          <td>{{ reservation.get_email() }}</td>
          <td>{{ reservation.get_contact() }}</td>
            <td>{{ reservation.get_date() }}</td>
          <td>{{ reservation.get_time_slot() }}</td>
          <td>{{ reservation.get_remarks() }}</td>
            <td><a href="/adm_updateReservation/{{reservation.get_reservation_id()}}" class="btn btn-warning">Update</a></td>
            <td>
            <form action="{{url_for('adm_deleteReservation', id=reservation.get_reservation_id())}}" method="POST">

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal_{{reservation.get_reservation_id()}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                              <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                    Are you sure you want to delete {{reservation.get_first_name()}} {{reservation.get_last_name()}}?
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="submit" value="Delete" class="btn btn-danger">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>



                                          <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#myModal_{{reservation.get_reservation_id()}}">
                                          <i class="far fa-times-circle"></i>
                                          <span>Delete</span>
                                        </button>
                                        </form>

            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="container-fluid">
  <h1 class="display-4">View Review</h1>
  <div>
    {% if count_review == 0 %}
    <p>There are no review.</p>
    {% elif count_review == 1 %}
    <p>There is 1 review.</p>
    {% else %}
    <p>There are {{ count_review }} reviews.</p>
    {% endif %}
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Number of Reviews</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Feedback</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews_list %}

        <tr>

          <td>{{ review[0] }}</td>
          <td>{{ review[1] }}</td>
          <td>{{ review[2] }}</td>
          <td>{{ review[3] }}</td>

          <td>
            <form action="{{url_for('adm_deleteReview', id=review[0]) }}" method="POST">

                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal_{{review[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                              <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                  </div>
                                                  <div class="modal-body">
                                                      Are you sure you want to delete {{review[1]}} {{review[2]}}?
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="submit" value="Delete" class="btn btn-danger">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>



                                          <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#myModal_{{review[0]}}">
                                          <i class="far fa-times-circle"></i>
                                          <span>Delete</span>
                                        </button>
                                        </form>

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
