<head>
  <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<div class="container-fluid">
  <h1 class="display-4">View Reservation</h1>
  {{!-- <div>
    {% if count == 0 %}
    <p>There are no reservation.</p>
    {% elif count == 1 %}
    <p>There is 1 reservation.</p>
    {% else %}
    <p>There are {{ count }} reservations.</p>
    {% endif %}
  </div> --}}

  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone no.</th>
          <th>Date</th>
          <th>Time</th>
          <th>Remarks</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#if reservation}}
        {{#each reservation}}
        <tr>
          <td>{{id}}</td>
          <td>{{cust_fname}}</td>
          <td>{{cust_lname}}</td>
          <td>{{cust_email}}</td>
          <td>{{cust_phone}}</td>
          <td>{{cust_date}}</td>
          <td>{{cust_time}}</td>
          <td>{{cust_message}}</td>
          <td><a href="/reservation/updateReservation/{{id}}" class="btn btn-warning">Update</a>
          </td>
          <td>
            <form action="" method="POST">

              <!-- Modal -->
              <div class="modal fade" id="myModal_" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <input type="submit" value="Delete" class="btn btn-danger">
                    </div>
                  </div>
                </div>
              </div>



              <button type="button" class="btn btn-block btn-danger" data-toggle="modal"
                data-target="#myModal_">
                <i class="far fa-times-circle"></i>
                <span>Delete</span>
              </button>
            </form>

          </td>
        </tr>
        {{!-- {% endfor %} --}}
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>
