<!-- Main style sheet -->
<link href="/teststuff/style.css" rel="stylesheet">
<link rel="stylesheet" href="/teststuff/css/templatemo-style.css">
{{!--
<link rel="stylesheet" href="/teststuff/css/hero-slider.css"> --}}
{{!--
<link rel="stylesheet" href="/teststuff/css/owl-carousel.css"> --}}
{{!--
<link rel="stylesheet" href="/teststuff/css/bootstrap-datepicker.css"> --}}
<link rel="stylesheet" href="/teststuff/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="/teststuff/css/bootstrap.css">
{{!--
<link rel="stylesheet" href="/teststuff/css/bootstrap-theme.min.css"> --}}
<link rel="stylesheet" href="/styles/templatemo-klassy-cafe.css">
<link rel="stylesheet" href="/styles/font-awesome.css">
<link rel="stylesheet" href="/teststuff/css/theme-color/default-theme.css">
<!-- Gallery Lightbox -->
<link rel="stylesheet" href="/teststuff/css/magnific-popup.css">
<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">



{{>_navbar}}




<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation">
    <div class="container">
        <div class="row mb-3">
            <a name="add_cart" type="button" href="/rooms" class="btn btn-primary mb-3">BACK</a>
            

            
            <div class="col">
                <div class="contact-form">
                    <form id="contact" action="/rooms/booked" method="POST" name="contact">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Additional Guest Information</h4>
                            </div>
                            <input type="hidden" id="type_id" name="type_id" value="{{type_id}}">
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <label for="address">Check In Date</label>
                              <input type="text" name="bookInDate" id="bookInDate" value="{{BookInDate}}"  readonly/>

                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <label for="address">Check Out Date</label>
                              <input type="text" name="bookOutDate" id="bookOutDate" value="{{BookOutDate}}"  readonly/>

                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <label for="address">Deal Selected</label>
                                <input type="text" name="package_deal" id="package_deal" value="Zoo Mama" readonly/>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <fieldset>
                                    <label for="address">Username</label>
                                <input type="text" name="username" id="username" value="yunashin102" readonly/>
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <label for="address">Name</label>
                            <input type="text" name="name" id="name" value="Shin Yuna" readonly/>
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    <label for="address">Room Type Allocated</label>
                            <input type="text" name="type" id="type" value="{{type}}"  readonly/>
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <label for="address">Room Number</label>
                            <input type="text" name="roomNo" id="roomNo" value="{{roomNo}}"  readonly/>
                                </fieldset>
                                
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <label for="address">Room Price</label>
                            <input type="text" name="price" id="price" value="{{price}}"  readonly/>
                                </fieldset>
                                
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <label for="address">Workplace Hospital</label>
                                    {{#if hospitals}}
                                    <select class="form-select form-select-sm" name="hospitals" aria-label=".form-select-sm example">
                                        {{#each hospitals}}
                                            <option value="{{hospitalName}}">{{hospitalName}}</option>
                                        {{/each}}
                                    </select>
                                    {{else}}
                                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                            
                                            <option value="none">No Hospitals Found</option>
                                        
                                    </select>
                                    {{/if}}
                            
                        
                            
                                </fieldset>
                                
                            </div>
                            
                            <div class="col-lg-12 mt-2">
                                <fieldset>
                                    <button type="submit" class="btn btn-primary btn-sm" >
                                        Book Room
                                    </button>

                                    {{!--
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">

                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="exampleModalLabel"
                                                        style="float: left; width: auto; text-align: center;">
                                                        Confirmation
                                                    </h3>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close" style="float: right; width: auto;">
                                                        <span aria-hidden="true">
                                                            ×
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h6 id="modal_body"></h6>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" onclick="" class="btn btn-success btn-sm"
                                                        data-toggle="modal" data-target="#exampleModal">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div> --}}
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->





<!-- Start Footer -->
<footer id="mu-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-footer-area">
                    <div class="mu-footer-social">
                        <a href="#"><span class="fa fa-facebook"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-google-plus"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                        <a href="#"><span class="fa fa-youtube"></span></a>
                    </div>
                    <div class="mu-footer-copyright">
                        <p>&copy; Copyright <a rel="nofollow" href="http://markups.io">HotelLaBodo</a>. All right
                            reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Import jquery cdn -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
    </script>

<script> src = "https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.28.2/sweetalert2.all.min.js"</script>

{{!--
<script src="/teststuff/js/jquery.min.js"></script> --}}
<script src="/teststuff/js/jquery.magnific-popup.min.js"></script>
<script src="/teststuff/js/custom.js"></script>
{{!--
<script src="/teststuff/js/bootstrap.js"></script> --}}
{{!--
<script src="/teststuff/js/simple-animated-counter.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>

{{!--
<script src="/teststuff/js/bootstrap-datepicker.js"></script> --}}
<script src="/teststuff/js/bootstrap-datetimepicker.min.js"></script>
<script src="/teststuff/js/slick.js"></script>
<script src="/teststuff/js/app.js"></script>

<script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>

{{!--
<script src="/js/popper.min.js"></script> --}}
<script src="/js/plugins.js"></script>

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>





<script type="text/javascript">
    $(document).ready(function () {
        // navigation click actions
        $('.scroll-link').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed) {
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({ scrollTop: targetOffset }, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function () { }
        };
    }
</script>

{{!-- <script>
    $("#modalsubmit").click(function (e) {
        e.preventDefault();
        var fname = $("#cust_fname").val();
        var lname = $("#cust_lname").val();
        var email = $("#cust_email").val();
        var phone = $("#cust_phone").val();
        var guest = $("#number_guest").val();
        var date = $("#cust_date").val();
        var time = $("#cust_time").val();
        var msg = $("#cust_message").val();
        Swal.fire(
            'Confirmed!',
            'Table Reserved!',
            'success').then((result) => {
                if (result.isConfirmed) {
                    $("#contact").submit();
                }
            });
    });
</script> --}}

