<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="/css/cart.css">

    <script>$(document).ready(function(){
        $(".size_select").click(function () {
           $(".slider").addClass("active");
           $(".select_size").show();
           $(".select_quantity").hide();
        })

        $(".qty_select").click(function () {
           $(".slider").addClass("active");
           $(".select_size").hide();
           $(".select_quantity").show();
        })

        $(".close, .bg_shadow, .button").click(function () {
           $(".slider").removeClass("active");
        })

        $(".select_size .body ul li").click(function () {
            $(".select_size .body ul li").removeClass("active");
           $(this).addClass("active");
           $(".size_select span").text($(this).text());
           $(".slider").removeClass("active");
        })

        $(".select_quantity .body ul li").click(function () {
            $(".select_quantity .body ul li").removeClass("active");
           $(this).addClass("active");
           $(".qty_select span").text($(this).text());
           $(".slider").removeClass("active");
        })

    });
    </script>
</head>

<body>
<br>
<br>
<br>
<br>
<br>

    <div class="wrapper">

        <div class="wrapper_content">
            <div class="header_title">
                <div class="title">
                    
                </div>
                <div class="amount">
                    <b>ROOM</b>
                </div>

            </div>
            <div class="contact-form">
                <div class="product_info">
                    <div class="product_img">
                        <img src="{{roomtype.roomImage}}" alt="ProductImage" width="200px" height="200px">
                    </div>
                    <div class="product_data">
                        <div class="description">
                            <input type="hidden" name="roomType" value="{{roomtype.type}}">
                            <div class="main_header" style="color: black;">
                                
                                {{roomtype.type}}
                            </div>
                            <div class="sub_header">
                                Book In Date : {{room.bookInDate}}
                                <br>
                                Book Out Date : {{room.bookOutDate}}
                            </div>
                        </div>
                        <!-- <div class="qty">
                            <div class="size_select">
                                <p>Size : <span>9</span></p>
                            </div>
                            <div class="qty_select">
                                <p>Qty : <span>1</span></p>
                            </div>
                        </div> -->
                        <div class="price">
                            <div class="current_price">${{roomtype.roomPrice}}</div>
                            <!-- <div class="normal_price">$30</div>
                            <div class="discount">15% OFF</div> -->
                        </div>
                    </div>
                </div>
                <div class="product_btns">
                    <div class="remove">REMOVE</div>
                    <!-- <div class="whishlist">MOVE TO WHISHLIST</div> -->
                </div>

            </div>
             <!-- <div class="product_wrap">
                <div class="product_info">
                    <div class="product_img">
                        <img src="./shoe2.jpg" alt="ProductImage" width="200px" height="200px">
                    </div>
                    <div class="product_data">
                        <div class="description">
                            <div class="main_header">
                                ASICS : Men Grey Woven Design GT 2000 8 Knit Running Shoes
                            </div>
                            <div class="sub_header">
                                FlyteFoam technology provides exceptional bounce back and responsiveness.Trusstic system technology.
                            </div>
                        </div>
                        <div class="qty">
                            <div class="size_select">
                                <p>Size : <span>9</span></p>
                            </div>
                            <div class="qty_select">
                                <p>Qty : <span>1</span></p>
                            </div>
                        </div>
                        <div class="price">
                            <div class="current_price">$30</div>
                            <div class="normal_price">$35</div>
                            <div class="discount">15% OFF</div>
                        </div>
                    </div>
                </div>
                <div class="product_btns">
                    <div class="remove">REMOVE</div>
                    <div class="whishlist">MOVE TO WHISHLIST</div>
                </div>

            </div> -->
            <div class="slider">
                <div class="bg_shadow"></div>
                <div class="select_size">
                    <div class="header">
                        <div class="slider_title">Select Size</div>
                        <div class="close">X</div>
                    </div>
                    <div class="body">
                        <ul>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li class="active">9</li>
                            <li>10</li>
                        </ul>
                    </div>
                    <div class="footer">
                        <div class="button">DONE</div>
                    </div>
                </div>
                <div class="select_quantity">
                    <div class="header">
                        <div class="slider_title">Select Quantity</div>
                        <div class="close">X</div>
                    </div>
                    <div class="body">
                        <ul>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                        </ul>
                    </div>
                    <div class="footer">
                        <div class="button">DONE</div>
                    </div>
                </div>
            </div>
        </div>
        <form action="/rooms/payPal/{{room.id}}" method="post">
            <div class="wrapper_amount">
                <div class="header_title">
                    <div class="title">
                        BOOKING DETAILS:
                    </div>
                    <div class="amount">
                        <b>$ 500</b>
                    </div>
                </div>
                <div class="price_details">
                    <div class="item">
                        <p>{{roomtype.type}} </p>
                        <p>${{roomtype.roomPrice}}</p>
                    </div>
                    <div class="item">
                        <p>{{room.package_deal}}</p>
                        <p class="green">-$0</p>
                    </div>

                    <!-- <div class="item">
                        <p>Order Total :</p>
                        <p>$25</p>
                    </div>
                    <div class="item">
                        <p>Delivery Charges :</p>
                        <p><span style="text-decoration: line-through;"></span>$5 <span class="green">FREE</span></p>
                    </div> -->
                    
                    <div class="total">
                        <p>Total :</p>
                        <p name="price">${{roomtype.roomPrice}}</p>
                    </div>
                </div>
                <div class="col mt-2">
                    
                    <button type="submit" class="btn btn-primary btn-sm" >
                                        Pay by PayPal
                                    </button>
                </div>
                
            </div>
        </form>
    </div>
</body>

</html>
