


	<!-- CSS
	================================================== -->

		<link rel="stylesheet" href="/styles/jquery.fancybox.min.css"/>
		<link rel="stylesheet" href="/styles/owl.carousel.css"/>
		<link rel="stylesheet" href="/styles/owl.transitions.css"/>
		<link rel="stylesheet" href="/styles/book.css"/>
		<link rel="stylesheet" href="/styles/booking_colors.css"/>
		<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">








	<!-- Primary Page Layout
	================================================== -->

	<div class="section big-55-height over-hide z-bigger">

		<div class="parallax parallax-top" style="background-image: url('img/kura.jpg')"></div>
		<div class="dark-over-pages"></div>

		<div class="hero-center-section pages">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 parallax-fade-top">
						<div class="hero-text">Our Rooms</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<!-- Modal -->




	<div class="section padding-top-bottom over-hide background-grey">
		<div class="container">
			 <div class="row">
          
      </div>
			<div class="row justify-content-center">
				{{#if roomType }}
                                            
                	{{#each roomType }}
					<div class="col-md-6">
					<div class="room-box background-white">
						<div class="room-name">{{roomName}}</div>
						<div class="room-per">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<img id="hospital_image" src="{{roomImage}}" alt=""class="border img-thumbnail img-fluid"style="height:80%;width:90%">
						<div class="room-box-in">
							<h5 class="">{{type}}</h5>
							<p class="mt-3">{{description}}</p>
							<a class="mt-1 btn btn-primary" href="/rooms/details/{{type_id}}">book from {{roomPrice}}$</a>
							<div class="room-icons mt-4 pt-4">
								<img src="/img/svg/cocktail.svg" alt="">
								<img src="/img/svg/bed.svg" alt="">
								<img src="/img/svg/food.svg" alt="">
								<a href="/">{{roomName}}</a>
							</div>
						</div>
					</div>
				</div>
					{{/each}}


                {{else}}
					<h5 class="">No rooms available at the moment.</h5>
                {{/if}}
			</div>
		</div>
	</div>



	<div class="section padding-top-bottom-small background-black over-hide footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center text-md-left">
					<img src="img/logo.png" alt="">
					<p class="color-grey mt-4">180 Ang Mo Kio Ave 8,<br>Singapore 569830</p>
				</div>
				<div class="col-md-4 text-center text-md-left">
					<h6 class="color-white mb-3">information</h6>
					<a href="tandc.html">terms &amp; conditions</a>
					<a href="services.html">services</a>
					<a href="restaurant.html">restaurant</a>
					<a href="testimonials.html">testimonials</a>
					<a href="gallery.html">gallery &amp; images</a>
				</div>
				<div class="col-md-5 mt-4 mt-md-0 text-center text-md-left logos-footer">
					<h6 class="color-white mb-3">about us</h6>
					<p class="color-grey mb-4">You're not supposed to read this. Go away!</p>
					<img src="img/logos/1.png" alt="">
					<img src="img/logos/2.png" alt="">
					<img src="img/logos/3.png" alt="">
				</div>
			</div>
		</div>
	</div>



	<div class="scroll-to-top"></div>




	<!-- JAVASCRIPT
    ================================================== -->
		<script src="/js/Addtobooking.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/plugins.js"></script>
		<script src="/js/custom_thalia.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

