<head>
    <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
</head>

<div class="container-fluid">
    <h1 class="display-4">Update Reservation</h1>
    <form id="contact" action="/admRestaurant/updateReservation/{{reservation.id}}" method="post">

        <div class="form-group">
            <fieldset>
                <label>First Name: </label>
                <input class="form-control" name="cust_fname" type="text" id="cust_fname" placeholder="First Name*"
                    value="{{reservation.cust_fname}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label>Last Name: </label>
                <input class="form-control" name="cust_lname" type="text" id="cust_lname" placeholder="Last Name*"
                    value="{{reservation.cust_lname}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label>Email: </label>
                <input class="form-control" name="cust_email" type="email" id="cust_email" pattern="[^ @]*@[^ @]*"
                    placeholder="Your Email Address" value="{{reservation.cust_email}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label>Phone Number: </label>
                <input class="form-control" name="cust_phone" type="text" id="cust_phone" placeholder="Phone Number*"
                    value="{{reservation.cust_phone}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label>No. Of Guests: </label>
                <input class="form-control" name="number_guest" type="text" id="number_guest"
                    placeholder="No Of Guests*" value="{{reservation.number_guest}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <div id="filterDate2">
                <fieldset>
                    <label>Date: </label>
                    <input name="cust_date" type="date" id="cust_date" class="datepicker form-control"
                        value="{{reservation.cust_date}}" placeholder="Date*" required="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <fieldset>
                <label>Time: </label>
                <input class="form-control" name="cust_time" type="time" id="cust_time" placeholder="Time*"
                    value="{{reservation.cust_time}}" required="">
            </fieldset>
        </div>
        <div class="form-group">
            <fieldset>
                <label>Message: </label>
                <textarea class="form-control" name="cust_message" rows="6" id="cust_message" placeholder="Message"
                    value="" required="">{{reservation.cust_message}}</textarea>
            </fieldset>
        </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary" type="button" data-target="#modalUpdate" data-toggle="modal">Update</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    
                    <div class="modal-body">
                        <h5>Reservation Updated Successfully!</h5>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalUpdate">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </form>