<head>

    <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">



</head>
<a href="/admRestaurant/createMenu" class="btn btn-primary">Add Menu</a>

    <br>

<body id="page-top">
    <br>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="hospitalTable" width="100%" cellspacing="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#if foodcart }}
                        {{#each foodcart }}
                        <tr>
                            <td>
                                {{id}}
                            </td>
                            <td>
                                <img src="{{cardPhoto}}" alt=""
                                    class="border img-thumbnail img-fluid" style="width: 160px;">
                            </td>
                            <td>
                                {{cardName}}
                            </td>
                            <td>
                                {{cardPrice}}
                            </td>
                            <td><a href="/admRestaurant/updateMenu/{{id}}" class="btn btn-warning">Update</a></td>
                            <td>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal_{{id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Do you really want to delete this Menu?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Close</button>
                                                <a href="/admRestaurant/deleteMenu/{{id}}" class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <button type="button" class="btn btn-block btn-danger" data-toggle="modal"
                                    data-target="#deleteModal_{{id}}">

                                    <span>Delete</span>
                                </button>

                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                    </tbody>
                    {{/if}}
                </table>
            </div>
        </div>
    </div>




    <!-- Scroll to Top Button-->
    <!--  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js" charset="utf-8"></script>

    <!-- Page level custom scripts -->
    <script src="/js/datatables-demo.js"></script>
    <script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>