
  <head>
    
  <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
  <link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

  

</head>

<body id="page-top">
  

                <!-- Begin Page Content -->
                <div class="container-fluid">
                  <div class="col d-flex justify-content">
                  <a class="btn btn-outline-secondary ml-1" href="">Guest Details</a>
                  <a class="btn btn-secondary ml-1">Hospitals</a>
                  <a class="btn btn-outline-secondary ml-1" href="">Occupations</a>
                  <a class="btn btn
                  -outline-secondary ml-1" href="vehicleList">Vehicles</a>
                  <a class="btn btn-outline-secondary ml-1" href="requestList">Requests</a>
                  <div class="col d-flex justify-content-end">
                    <a class="btn btn-outline-secondary ml-1" href="hospitalSearch"><i class="fas fa-plus-circle"></i> Create New Hospital </a>
                    <a class="btn btn-outline-secondary ml-1" href="hospitalSearch"><i class="fas fa-plus-circle"></i> Upload Excel File </a>
                  </div>
                </div>
                


                    <!-- Page Heading -->

<!-- Modal -->
<div class="modal fade" id="deleteDesu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete these records? This process cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
                  <br>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="hospitalTable" width="100%" cellspacing="1">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Hospital Name</th>
                                                <th>Address</th>
                                                <th>Contact Number</th>
                                                <th>Website</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                              <th></th>
                                              <th></th>
                                              <th>Hospital Name</th>
                                              <th>Address</th>
                                              <th>Contact Number</th>
                                              <th>Website</th>
                                              <th></th>
                                              <th></th>
                                              <th></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                          {{#if hospitals }}
                                            
                                            {{#each hospitals }}
                                            <tr>
                                              <td>
                                                {{photo}}
                                              </td>
                                              <td>
                                                {{@index}}
                                              </td>
                                              <td>
                                                {{hospitalName}}
                                              </td>
                                              <td>
                                                {{address}}
                                              </td>
                                              <td>
                                                {{contactNo}}
                                              </td>
                                              <td>
                                                {{website}}
                                              </td>
                                              <td>
                                                <a href="/admin/hospitalProfile/{{id}}" class="btn btn-dark">Details</a>
                                              </td>
                                              <td><a href="/admin/hospitalEdit/{{id}}" class="btn btn-warning">Update</a></td>
                                              <td>
                                                

                                                <!-- Modal -->
                                                <div class="modal fade" id="deleteModal_{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        Do you really want to delete this hospital? This process cannot be undone.
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <a href="/admin/hospitalDelete/{{id}}"  class="btn btn-danger">Delete</a>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>



                                              <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteModal_{{id}}">

                                              <span>Delete</span>
                                            </button>
                                            
                                            </td>
                                            </tr>
                                            {{/each}}

                                          {{else}}
                                          

                                        </tbody>
                                        {{/if}}
                                    </table>


                            </div>
                            <div class="row">


                              <div class="col-4">

                                <form action="" method="POST">
                                  <!-- Modal -->
                                  <div class="modal fade" id="resetDefault" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="ResetModalTitle">Are you sure?</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          Do you want to reset all hospitals to default values?
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="submit" value="Reset" class="btn btn-info">


                                        </div>
                                      </div>
                                    </div>
                                  </div>



                                <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#resetDefault">

                                <span>Reset</span>
                                </button>
                                </form>
                              </div>
                                <div class="col-4">


                                  <!-- Modal -->
                                  <div class="modal fade" id="deleteModal_multiHospital" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          Do you really want to delete selected hospitals? This process cannot be undone.
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" id="deleteMulti" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_multiHospital" data-dismiss="modal"><i class="far fa-times-circle"></i>Delete</button>


                                        </div>
                                      </div>
                                    </div>
                                  </div>



                                <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteModal_multiHospital">
                                <i class="far fa-times-circle"></i>
                                <span>Delete</span>
                                </button>

                              </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Scroll to Top Button-->
  <!--  <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a> -->

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>



       <!-- Page level plugins -->
       <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
       <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
       <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js" charset="utf-8"></script>

       <!-- Page level custom scripts -->
       <script src="/js/datatables-demo.js"></script>
       <script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
    