<script>
    function elimCompany(el){
        companyName = el.value;
        products = document.getElementById('product_name').children;
        for (var i = 0; i < products.length; i++){
            var product = products[i];
            if (product.value !== companyName){
                product.style.display = 'none';
            } else {
                product.style.display = 'block';
            }
        }
    }
</script>
<div class="container-fluid">
    <h1 class="display-5">Create New Item</h1>

    <form method="POST" action="/inventory/create">
        <div class="form-group">

            <label for="item_name">Item Name</label>
            <input class="form-control" id="item_name" name="item_name" required type="text" value="">


        </div>
        <div class="form-group">

            <label for="supplier">Supplier</label>
            <select class="form-control" id="supplier" name="supplier"  onchange="elimCompany(this)"required>
                <option value="none" selected disabled hidden></option>
                {{#if supplier}}
                {{#each supplier}}
                <option value="{{company_name}}" style="text-transform: capitalize;">{{company_name}}</option>
                {{/each}}
                {{/if}}

            </select>


        </div>
        <div class="form-group">

            <label for="product_name">Product Name</label>
            <select class="form-control" id="product_name" name="product_name" required>
                <option value="none" selected disabled hidden></option>
                {{#if supplier}}
                {{#each supplier}}
                <option id="{{product_name}}" value="{{company_name}}" style="text-transform: capitalize;">{{product_name}}</option>
                {{/each}}
                {{/if}}

            </select>


        </div>
        <div class="form-group">

            <label for="quantity">Quantity</label>
            <input class="form-control" id="quantity" name="quantity" required type="number" value="">


        </div>
        <div class="form-group">
        
            <label for="selling_price">Selling Price</label>
            <input class="form-control" id="selling_price" name="selling_price" required type="number" value="">
        
        
        </div>
        <div class="form-group">
        
            <label for="cost_price">Cost Price</label>
            <input class="form-control" id="cost_price" name="cost_price" required type="number" value="">
        
        
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
</div>

{{!-- <script>
    $("#supplier").on("change", ()=>{
        company_name = this.value;
        var items = $("#product_name").children().value;
        console.log($(this).text);
    })
</script> --}}