<script>
    function elimCompany(el) {
        companyName = el.value;
        products = document.getElementById('product_name').children;
        for (var i = 0; i < products.length; i++) {
            var product = products[i];
            if (product.value !== companyName) {
                product.style.display = 'none';
            } else {
                product.style.display = 'block';
            }
        }
    }
</script>
<div class="container-fluid">
    <h1 class="display-5">Update Inventory</h1>

    <form method="POST" action="/inventory/update/{{inventory.inventory_id}}/{{inventory.quantity}}?_method=PUT" id="form">
    
        <div class="form-group">

            <label for="item_name">Item Name</label>
            <input class="form-control" id="item_name" name="item_name" required type="text" value="{{inventory.item_name}}" readonly>


        </div>
        <div class="form-group">

            <label for="supplier">Supplier</label>
            {{!-- <select class="form-control" id="supplier" name="supplier" onchange="elimCompany(this)" required>
                <option value="none" selected disabled hidden></option>
                {{#if supplier}}
                {{#each supplier}}
                <option value="{{company_name}}">{{company_name}}</option>
                {{/each}}
                {{/if}}

            </select> --}}
            <input class="form-control" id="supplier" name="supplier" type="text" value="{{inventory.supplier}}" readonly>


        </div>
        <div class="form-group">

            <label for="quantity">Quantity</label>
            <input class="form-control" id="quantity" name="quantity" required type="number">
            <span style="font-style: italic; font-size: small;">* Amount will be automatically added to the current quantity</span>


        </div>
        <div class="form-group">
        
            <label for="selling_price">Selling Price</label>
            <input class="form-control" id="selling_price" name="selling_price" required type="number" value="{{inventory.selling_price}}">
        
        
        </div>
        <div class="form-group">
        
            <label for="cost_price">Cost Price</label>
            <input class="form-control" id="cost_price" name="cost_price" required type="number" value="{{inventory.cost_price}}">
        
        
        </div>
        <button type="submit" value="Submit" id="submit-btn" data-toggle="modal" data-target="#modalReply"
            class="btn btn-primary">Submit</button>
    </form>
</div>