<div class="container-fluid">
    <h1 class="display-5">Orders Made</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="1">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Supplier</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order ID</th>
                            <th>Supplier</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#if order}}
                        {{#each order}}
                        <tr>
                            <td>{{order_id}}</td>
                            <td style="text-transform: capitalize;">{{supplier}}</td>
                            <td style="text-transform: capitalize;">{{item_name}}</td>
                            <td>{{quantity}}</td>
                            <td style="text-transform: capitalize;">{{remarks}}</td>
                            <td style="width: 279px;">{{status}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>