<head>
    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
        
    <!-- Custom styles for this template -->
    <link href="/styles/sb-admin-2.min.css" rel="stylesheet">
        
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<div class="container-fluid">
    <h1 class="display-5">Orders Made</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="1">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Supplier</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order ID</th>
                            <th>Supplier</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#if order}}
                        {{#each order}}
                        <tr>
                            <td>{{id}}</td>
                            <td style="text-transform: capitalize;">{{supplier}}</td>
                            <td style="text-transform: capitalize;">{{item_name}}</td>
                            <td>{{quantity}}</td>
                            <td style="text-transform: capitalize;">{{remarks}}</td>
                            <td style="width: 279px;">{{status}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Bootstrap core JavaScript-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/datatables-demo.js"></script>