<script src="/sweetalert2/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="../../public/sweetalert2/dist/sweetalert2.css">
<script>
    function elimSupplier(el) {
        supplier = el.value;
        items = document.getElementById('item_name').children;
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            if (item.value !== supplier) {
                item.style.display = 'none';
            } else {
                item.style.display = 'block';
            }
        }
    }
</script>
<div class="container-fluid">
    <h1 class="display-5">Create New Order Form</h1>

    <form method="POST" action="/order/create" id="form">

        <div class="form-group">
            <label for="supplier">Supplier</label>
            <select class="form-control" id="supplier" name="supplier" onchange="elimSupplier(this)" required>
                <option value="none" selected disabled hidden></option>
                {{#if inventory}}
                {{#each inventory}}
                <option value="{{supplier}}" style="text-transform: capitalize;">{{supplier}}</option>
                {{/each}}
                {{/if}}
            </select>
        </div>

        <div class="form-group">
            <label for="item_name">Item Name</label>
            <select class="form-control" id="item_name" name="item_name" required>
                <option value="none" selected disabled hidden></option>
                {{#if inventory}}
                {{#each inventory}}
                <option id="{{item_name}}" value="{{supplier}}" style="text-transform: capitalize;">{{item_name}}</option>
                {{/each}}
                {{/if}}
            </select>
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input class="form-control" id="quantity" name="quantity" required type="number" value="">
        </div>

        <div id="prof">
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <textarea class="form-control" id="remarks" name="remarks"></textarea>
            </div>
        </div>

        <div class="form-group" hidden>
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status" required>
                <option value="Awaiting Supplier Call" selected>Awaiting Supplier Call</option>
            </select>
        </div>

        
        <button type="submit" value="Submit" id="submit-btn" data-toggle="modal" data-target="#modalReply"
            class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    $("#submit-btn").click(function (e) {
        e.preventDefault();
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Confirm to add the new Order?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Comfirm',
            cancelButtonText: 'Cancel',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                swalWithBootstrapButtons.fire(
                    'Added!',
                    'New Order has been added.',
                    'success'
                )
                $("#form").submit()
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    'Cancelled',
                    'Order is not added.',
                    'error'
                )
            }
        })
    })
</script>