<head>
    <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
</head>
<div class="container-fluid">
    <h1 class="display-5">Orders Made</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="productcatTable" width="100%" cellspacing="1">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Supplier</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order ID</th>
                            <th>Supplier</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#if order}}
                        {{#each order}}
                        <tr>
                            <td>{{id}}</td>
                            <td style="text-transform: capitalize;">{{supplier}}</td>
                            <td style="text-transform: capitalize;">{{item_name}}</td>
                            <td>{{quantity}}</td>
                            <td style="text-transform: capitalize;">{{remarks}}</td>
                            <td style="width: 279px;">
                                <select name="cars" id="cars">
                                    <option value="1">Ordered Placed</option>
                                    <option value="2">Ordered has been confirmed</option>
                                    <option value="3">Supplier is preparing your order</option>
                                    <option value="4">Supplier is out for delivery</option>
                                    <option value="5">Parcel has been delivered</option>
                                </select>
                            </td>
                        </tr>
                        {{/each}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br>