<link rel="stylesheet" href="/teststuff/css/book.css" />
<link rel="stylesheet" href="/teststuff/css/jquery.fancybox.min.css" />
<link rel="stylesheet" href="/teststuff/css/owl.carousel.css" />
<link rel="stylesheet" href="/teststuff/css/owl.transitions.css" />
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" />
<link rel="stylesheet" href="/teststuff/css/Addcart.css" />


{{>_navbar}}


<br>
<br>
<br>
<br>
<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" id="cart">
    <div class="modal-dialog" style="max-width:40%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="show-cart">
                    <li>???????</li>
                </ul>
                <div>You have <span class="total-count">X</span> items in your cart</div>
                <div>Total Cart:$<span class="total-cart" id ="totalPrice"name="totalCart"></span></div>
            </div>
            <div class="modal-footer">
                <button class="clear-cart btn btn-danger">Clear Cart</button>
                <button type="submit" class="btn btn-primary" id="pay_now" data-target="#cartModal"
                    data-dismiss="modal">Check Out</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Main -->
<form method="POST">
    <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">Cart (<span
                        class="total-count"></span>)</button>
            </div>
        </div>
        <hr>


        <div class="row">
            {{#if foodcart }}

            {{#each foodcart }}
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="{{cardPhoto}}" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">{{cardName}}</h4>
                        <p class="card-text">Price: ${{cardPrice}}</p>
                        <button type="button" data-name="{{cardName}}" data-price="{{cardPrice}}"
                            class="add-to-cart btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
<script src="/teststuff/js/Addtocart.js"></script>

<script>
    function getPaynow() {
        const id = document.getElementById('id');
        const name = document.getElementById('name');
        const email = document.getElementById('email');
        const phone = document.getElementById('phone');
        const amount = document.getElementById('amount');
        const currency = document.getElementById('currency');
        const status = document.getElementById('status');
        const purpose = document.getElementById('purpose');
        const reference_number = document.getElementById('reference_number');
        const payment_methods = document.getElementById('payment_methods');
        fetch('https://api.sandbox.hit-pay.com/v1/payment-requests' + 'd4b3a6ec6acb9c243071571fcca2be3e25850829dbd1499529bd4f9467e5aba9')
            .then((res) => {
                return res.json();
            }).then((data) => {
                console.log(data);
            })
    }

    
</script>
