<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Hotel La Bodo</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end" style="background-image: url(images/bg.jpg);">
                            <div class="text w-100">
                                <h2 class="mb-4">Welcome to Hotel La PLEASE WORK Bodo</h2>
                                <p>We provide the comfort and luxury of hotels during the COVID-19 Pandemic.</p>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <h3 class="mb-3">Create an Account</h3>
                            <form action="/login/signup" class="signup-form block-register" method="post" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="name"></label>
                                            <input type="text" class="form-control" name="name" value="{{name}}" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="name"></label>
                                            <input type="text" class="form-control" name="username" value="{{username}}" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="email"></label>
                                            <input type="text" class="form-control" name="email" value="{{email}}" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="phone"></label>
                                            <input type="text" class="form-control" name="phone_num" value="{{phone_num}}" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="Password"></label>
                                             <input type="password" class="form-control" name="password" value="{{password}}" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="Password"></label>
                                            <input type="password" class="form-control" name="password2" value="{{password2}}" placeholder="Repeat Password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            {{!-- <label class="label" for="website"></label>
                                            <input type="text" class="form-control" name="package_deal" value="{{package_deal}}"placeholder="Package Deal"> --}}
                                            <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Dropdown button
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    

                
                                    <div class="col-md-12 my-4">
                                        <div class="form-group">
                                            <div class="w-100">
                                                <label class="checkbox-wrap checkbox-primary">I agree to the Terms and Conditions.
												  <input type="checkbox" checked>
												  <span class="checkmark"></span>
												</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-secondary submit p-3">Register</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="social-wrap">
                                <p class="or">
                                    <span>or</span>
                                </p>
                                <p class="mb-3 text-center">Sign Up with these services</p>
                                <p class="social-media d-flex justify-content-center">
   
                                    <a href="/mainlogin" class="social-icon facebook d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="/mainlogin" class="social-icon google d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a>
                                </p>
                            </div>
                            <div class="w-100 text-center">
                                <p class="mt-4">Existing User?<a href="/mainlogin"> Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>