{{#if allfeaturedcoursearray}}
{{#each allfeaturedcoursearray}}
<figure class="card card-product-grid" style="width: 18rem; height: 21rem; margin-right: 20px;">
  <img class="card-img-top" src="/images/coursethumbnails/{{Course_thumbnail}}" height="140" width="240">
  <div class="widget-header">
    <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
      <div class="icon"><img class="icon icon-xs rounded-circle" src="/images/profilepictures/{{Profile_pic}}"></div>
      <div class="text">
        <small class="text-muted">{{FirstName}} {{LastName}}</small> <br>
      </div>
    </a>
  </div>
  <figcaption class="info-wrap">
    <h4 class="title"><a href="/course/viewcourse/{{course_id}}">{{Title}}</a></h4>
    <p class="text-muted" style="font-size:0.9em;">{{Short_description}}</p>
    <br>
    <h5>{{Hourlyrate}}/Hour</h5>
  </figcaption>
</figure>
{{/each}}
{{else}}
<figure class="card card-product-grid" style="width: 18rem; height: 21rem; margin-right: 20px;">
  <img class="card-img-top" src="/images/coursethumbnails/avatar2.jpg" height="140" width="240">
  <div class="widget-header">
    <a href="#" class="ml-3 icontext" data-toggle="dropdown" data-offset="20,10">
      <div class="icon"><img class="icon icon-xs rounded-circle" src="/images/profilepictures/2.jpg"></div>
      <div class="text">
        <small class="text-muted">Feature your courses here!</small> <br>
      </div>
    </a>
  </div>
  <figcaption class="info-wrap">
    <h4 class="title"><a href="#">CHoose your favourite/top courses</a></h4>
    <p class="text-muted" style="font-size:0.9em; height:58px">Let everyone see it here!</p>
    <br>
    <h5>1/Hour</h5>
  </figcaption>
</figure> <!-- card // -->
{{/if}}